/* 
***************
Media Queries Breakpoints for Responsive Design
***************
*/

/* Mobile */
@media only screen and (max-width: 600px){
    /* body{
        background-color: lightblue;
    } */

    /* Navigation */
    header{
        width: 100%;
    }

    #logo_icon{
        transition: 1s ease-in;
        scale: .8;
        /* border: 1px black solid; */
    }

    h1{
        font-size: 1.8rem;
    }

    ul{
        box-sizing: border-box;
        padding-left: 10%;
        padding-top: 2%;
        margin: 0;
    }

    ul > li{
        padding-right: 8%;
        font-size: 1.2em;
    }

    /* Introduction Section */
    #introHeader{
        font-size: 2.5rem;
    }

    #introArticle{
        padding-left: 10%;
        padding-right: 10%;
    }

    #introArticle > p{
        font-size: 1.8em;
    }

    h3{
        font-size: 1.8em;
    }

    /* Timeline Section */
    h4{
        font-size: 2em;
        padding-left: 5%;
    }

    #timelineArticle > div > p{
        font-size: 1.3em;
    }
    
    .timelineHeaders{
        font-weight: 900;
    }

    /* Photo Gallery Section */
    #photoGridContainer{
        padding-top: 5%;
    }

    h5{
        font-size: 2em;
    }

    #photoGridContainer > p{
        color: var(--darkDeepBlueAccent);
        font-size: 1.3em;
    }

    #photoGridArticle{
        display: grid;
        grid-template-areas:
        'picture picture';
        justify-items: center;
        align-items: center;
    }

    /* Footer Section */
    #footerGridContainer{
        display: grid;
        grid-template-areas: 
        'sectionOne'
        'sectionTwo'
        'sectionThree'
        'sectionFour'
        'sectionFive';

        padding-top: 10%;
        padding-bottom: 10%;
    }

    #footerGridOne{
        font-size: 1.5em;
        grid-area: sectionOne;
        padding-left: 2%;
    }

    #footerGridTwo{
        grid-area: sectionTwo;
        padding-left: 5%;
        padding-bottom: 5%;
    }

    .footerHeaderTitles{
        font-size: 1.3em;
        margin: 0;
    }

    #footerGridTwo > ul{
        display: grid;
    }

    #footerGridTwo > ul >li{
        font-size: 1em;
        padding: 2%;
    }

    #footerGridThree{
        grid-area: sectionThree;
        padding-left: 5%;
        padding-right: 15%;
        padding-bottom: 5%;
    }

    #footerGridThree > ul{
        display: grid;
    }

    #footerGridThree > ul >li{
        font-size: 1em;
        padding: 2%;
    }

    #footerGridFour{
        grid-area: sectionFour;
        padding-left: 5%;
        padding-right: 15%;
        padding-bottom: 5%;
    }

    #footerGridFour > ul{
        display: grid;
    }

    #footerGridFour > ul >li{
        font-size: 1em;
        padding: 2%;
    }

    #footerGridFive{
        padding-left: 2%;
        grid-area: sectionFive;
    }
}

/* Tablet */
@media only screen and (min-width: 600px){
    /* body{
        background-color: lightgreen;
    } */

    /* Navigation */
    header{
        width: 100%;
    }
    #logo_icon{
        transition: 1s ease-in;
        scale: 1.5;
        margin-top: 2%;
        margin-right: 2%;
        padding-left: 1%;
        /* border: 1px black solid; */
    }

    h1{
        font-size: 3.5em;
    }

    ul{
        padding-left: 5%;
        padding-top: 2%;
        margin: 0;
    }

    ul > li{
        padding-right: 8%;
        font-size: 2.5em;
    }

    /* Introduction Section */
    #introHeader{
        font-size: 6rem;
    }

    #introImage{
        width: 70%;
    }

    #screenshotImg{
        width: 80%;
    }

    #introArticle{
        padding-left: 15%;
        padding-right: 15%;
    }

    #introArticle > p{
        font-size: 2.5em;
    }

    h3{
        font-size: 4em;
    }

    /* Timeline Section */
    h4{
        font-size: 3.5em;
        padding-left: 5%;
    }

    #timelineArticle > div > p{
        font-size: 1.8em;
    }
    
    .timelineHeaders{
        font-weight: 900;
    }
    
    /* Photo Gallery Section */
    #photoGridContainer{
        padding-top: 5%;
    }

    h5{
        font-size: 3.5em;
    }

    #photoGridContainer > p{
        color: var(--darkDeepBlueAccent);
        font-size: 2em;
    }

    #photoGridArticle{
        display: grid;
        grid-template-areas:
        'picture picture';
        justify-items: center;
        align-items: center;
    }

    /* Footer Section */
    #footerGridContainer{
        display: grid;
        grid-template-areas: 
        'sectionOne sectionOne sectionOne'
        'sectionTwo sectionThree sectionFour'
        'sectionFive sectionFive sectionFive';
        grid-template-columns: 30% 40% 30%;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    #footerGridOne{
        font-size: 1.5em;
        grid-area: sectionOne;
        padding-left: 2%;
    }

    #footerGridTwo{
        grid-area: sectionTwo;
        padding-left: 20%;
        padding-bottom: 5%;
    }

    .footerHeaderTitles{
        font-size: 1.3em;
        margin: 0;
    }

    #footerGridTwo > ul{
        display: grid;
    }

    #footerGridTwo > ul >li{
        font-size: 1em;
        padding: 2%;
    }

    #footerGridThree{
        grid-area: sectionThree;
        padding-left: 5%;
        padding-right: 15%;
        padding-bottom: 5%;
    }

    #footerGridThree > ul{
        display: grid;
    }

    #footerGridThree > ul >li{
        font-size: 1em;
        padding: 2%;
    }

    #footerGridFour{
        grid-area: sectionFour;
        padding-left: 5%;
        padding-right: 15%;
        padding-bottom: 5%;
    }

    #footerGridFour > ul{
        display: grid;
    }

    #footerGridFour > ul >li{
        font-size: 1em;
        padding: 2%;
    }

    #footerGridFive{
        padding-left: 2%;
        grid-area: sectionFive;
    }

}

/* Desktop */
@media only screen and (min-width: 1030px){
    /* body{
        background-color: lightgoldenrodyellow;
    } */

    /* Navigation */
    header{
        width: 100%;
    }
    #logo_icon{
        transition: 1s ease-in;
        margin-top: 2%;
        /* border: 1px black solid; */
    }

    h1{
        display: flex;
        align-items: left;
        font-size: 3em;
        line-height: 1;
        margin-right: 5%;
    }

    .navBar{
        display: inline-block;
    }

    .navList{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .navList > li{
        font-size: 2em;
        margin-right: 10%;
    }

    /* Introduction Section */
    #introHeader{
        font-size: 6em;
    }
    #introImage{
        width: 60%;
    }

    .screenshotImg{
        width: 80%;
    }

    #introArticle{
        padding-left: 15%;
        padding-right: 15%;
    }

    #introArticle > p{
        font-size: 2em;
    }

    h3{
        font-size: 3em;
    }

    figcaption{
        font-size: 1.2em;
    }

    /* Timeline Section */
    h4{
        font-size: 4em;
        padding-left: 5%;
    }

    #timelineArticle > div > p{
        font-size: 2em;
    }
    
    .timelineHeaders{
        font-weight: 900;
    }

    /* Photo Gallery Section */
    #photoGridContainer{
        padding-top: 5%;
    }

    h5{
        font-size: 3.5em;
    }

    #photoGridContainer > p{
        color: var(--darkDeepBlueAccent);
        font-size: 2em;
    }

    #photoGridArticle{
        display: grid;
        grid-template-areas:
        'picture picture picture';
        justify-items: center;
        align-items: center;
    }

    /* Footer Section */
    #footerGridContainer{
        display: grid;
        grid-template-areas: 
        'sectionOne sectionOne sectionOne'
        'sectionTwo sectionThree sectionFour'
        'sectionFive sectionFive sectionFive';
        grid-template-columns: 30% 40% 30%;
        padding-top: 5%;
    }

    .footerInfoText{
        font-size: 1.5em;
        padding-left: 2%;
    }

    #footerGridOne{
        font-size: 2.5em;
        grid-area: sectionOne;
        padding-left: 2%;
    }

    #footerGridTwo{
        grid-area: sectionTwo;
        padding-left: 20%;
        /* padding-bottom: 5%; */
    }

    .footerHeaderTitles{
        font-size: 2em;
        margin: 0;
    }

    #footerGridTwo > ul{
        display: grid;
    }

    #footerGridTwo > ul >li{
        font-size: 1.2em;
        padding: 2%;
    }

    #footerGridThree{
        grid-area: sectionThree;
        padding-left: 5%;
        padding-right: 15%;
        /* padding-bottom: 5%; */
    }

    #footerGridThree > ul{
        display: grid;
    }

    #footerGridThree > ul >li{
        font-size: 1.2em;
        padding: 2%;
    }

    #footerGridFour{
        grid-area: sectionFour;
        padding-left: 5%;
        padding-right: 15%;
        /* padding-bottom: 5%; */
    }

    #footerGridFour > ul{
        display: grid;
    }

    #footerGridFour > ul >li{
        font-size: 1.2em;
        padding: 2%;
    }

    #footerGridFive{
        padding-left: 2%;
        grid-area: sectionFive;
    }
}

/* 
***************
Global CSS
***************
*/

/* Color Palette in Variables */
:root{
    --mainColor: #E63946;
    --lightBeigeAccent: #F1FAEE;
    --lightSeafoamAccent: #A8DADC;
    --darkTurqoiseAccent: #457B9D;
    --darkDeepBlueAccent: #1D3557;
}

/* Google Fonts */
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }

/* Images */
.responsiveImages {
    width: 100%;
    height: auto;
  }

.timelineIcons{
    width: 70%;
}

#photoGridArticle > div > a > img:hover{
    transition: 300ms ease-in;
    transform: translateY(-1px);
    box-shadow: 2px 2px 10px #000000;
}

/* Body */
body{
    margin: 0;
    padding: 0;
    font-family: "DM Serif Display", serif;
}

#introHeader{
    text-align: center;
}


/* Grid Container */
.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';

    /* border: 1px black solid; */
}

/* Header */
header{
    margin: 0;
    padding: 0;
    
    background-color: var(--mainColor);
    border-radius: 0px 0px 15px 15px;
    padding-bottom: 3%;
    width: 100%;
    box-shadow: 2px 2px 10px #000000;
}

#logo_div{
    display: inline;
    margin-top: 5%;
}

.grid-item-1{
    grid-area: header;
    /* border: 1px black solid; */
}

h1{
    display: inline;
    color: #ffffff;
    text-shadow: 1px 1px 4px #00000080;
}

/* Body */
.grid-item-2{
    grid-area: main;
    /* border: 1px black solid; */
}

.introImageContainer{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#introArticle{
    line-height: 1.5;
}

hr{
    width: 70%;
    border: 3px solid var(--mainColor);
}

/* Timeline Section */
#timelineArticle{
    color: #ffffff;
    background-color: var(--darkTurqoiseAccent);

    display: grid;
    grid-template-areas:
    'photo article';
    justify-items: center;
    align-items: center;

    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;

    column-gap: 15px;
    row-gap: 35px;
}

#timelineContainer{
    color: #ffffff;
    background-color: var(--darkTurqoiseAccent);
    padding-top: 5%;
}

/* Footer */
.grid-item-3{
    grid-area: footer;
    /* border: 1px black solid; */
}

/* Navigation Bar */
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

ul > li{
    display: inline;
}

li > a{
    text-decoration: none;
    color: #ffffff;
}

/* Links Edits */
.navLinks{
    cursor: pointer;
    padding: .5em;
    text-shadow: 1px 1px 4px #00000080;
    border-radius: 10px;
}

.navLinks:hover{
    transition: .5s ease-in;
    box-shadow: 2px 2px 10px #000000;
    background-color: var(--darkDeepBlueAccent);
    cursor: pointer;
}

.figLinks{
    text-decoration: none;
}

.figLinks:hover{
    color: var(--mainColor);
    text-decoration: underline;
    cursor: pointer;
}

.footerLinks:hover{
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 1px 1px 4px #000000;
}

/* Footer */
footer{
    position: relative;
    left: 0;
    bottom: 0;
    /* padding-bottom: 5%; */
    width: 100%;
    height: auto;
    background-color: var(--darkDeepBlueAccent);
    color: #ffffff;
    text-shadow: 1px 1px 4px #00000080;
}